.file{
    color: var(--preset-text-color-operator);
    font-family: var(--preset-text-3-fontfamily);
    font-size: var(--preset-text-3-fontsize);
    font-weight: var(--preset-text-3-fontweight);
    line-height: var(--preset-text-3-lineheight);
    letter-spacing: var(--preset-text-3-letterspacing);
    cursor: pointer;
    border-radius: 10px;
}

.file.dark:hover{
    background-color: #57575733;
}

.file.light:hover{
    background-color: #c2c2c233;
}

