.navbar{
    width: 100%;
    height: 80px;
    padding: 0px 25px;
    background-color: var(--preset-background-color-container);
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 0px 0px 80% 0px
}

.navbar_links{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 35px;
    list-style-type: none;
}

.navbar_links > li{
    cursor: pointer;
    font-family: var(--preset-text-3-fontfamily);
    font-size: var(--preset-text-3-fontsize);
    font-weight: var(--preset-text-3-fontweight);
    line-height: var(--preset-text-3-fontheight);
    letter-spacing: var(--preset-text-3-letterspacing);
}

.navbar_links > li:nth-child(1){
    color: var(--preset-text-color-keyword);
}

.navbar_links > li:nth-child(1):hover{
    color: var(--preset-text-color-keyword-hover);
}

.navbar_links > li:nth-child(1):active{
    color: var(--preset-text-color-keyword-active);
}

.navbar_links > li:nth-child(2){
    color: 	#9CDCFE;
}

.navbar_links > li:nth-child(2){
    color: var(--preset-text-color-variable);
}

.navbar_links > li:nth-child(2):hover{
    color: var(--preset-text-color-variable-hover);
}

.navbar_links > li:nth-child(2):active{
    color: var(--preset-text-color-variable-active);
}


.navbar_links > li:nth-child(3){
    color: #D4D4D4;
}

.navbar_links > li:nth-child(3){
    color: var(--preset-text-color-operator);
}

.navbar_links > li:nth-child(3):hover{
    color: var(--preset-text-color-operator-hover);
}

.navbar_links > li:nth-child(3):active{
    color: var(--preset-text-color-operator-active);
}


.navbar_links > li:nth-child(4){
    color: 	#CE9178;
}

.navbar_links > li:nth-child(4){
    color: var(--preset-text-color-string);
}

.navbar_links > li:nth-child(4):hover{
    color: var(--preset-text-color-string-hover);
}

.navbar_links > li:nth-child(4):active{
    color: var(--preset-text-color-string-active);
}
