.form{
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.input{
    width: 100%;
    background-color: transparent;
    color: var(--preset-text-color-operator);
    border: 1px solid var(--preset-text-color-operator);
    font-family: var(--preset-text-4-fontfamily);
    font-size: var(--preset-text-4-fontsize);
    font-weight: var(--preset-text-4-fontweight);
    line-height: var(--preset-text-4-lineheight);
    letter-spacing: var(--preset-text-4-letterspacing);
}

.input:focus{
    outline: none;
}

.arrow{
    width: 30px;
    object-fit: contain;
}