.header{
    width: fit-content;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

.header_content{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header_intro{
    color: var(--preset-text-color-keyword);
    font-family: var(--preset-text-1-fontfamily);
    font-size: var(--preset-text-1-fontsize);
    font-weight: var(--preset-text-1-fontweight);
    line-height: var(--preset-text-1-lineheight);
    letter-spacing: var(--preset-text-1-letterspacing);
    margin: 0px;
}

.header_desc_one{
    color: var(--preset-text-color-variable);
    margin: -10px 0px 0px 0px;
    font-family: var(--preset-text-2-fontfamily);
    font-size: var(--preset-text-2-fontsize);
    font-weight: var(--preset-text-2-fontweight);
    line-height: var(--preset-text-2-lineheight);
    letter-spacing: var(--preset-text-2-letterspacing);
}

.header_desc_two{
    width: 300px;
    color: var(--preset-text-color-string);
    font-family: var(--preset-text-3-fontfamily);
    font-size: var(--preset-text-3-fontsize);
    font-weight: var(--preset-text-3-fontweight);
    line-height: var(--preset-text-3-lineheight);
    letter-spacing: var(--preset-text-3-letterspacing);
    margin: 0px;
}

.header_images{
    position: relative;
}

.header_image_laptop{
    width: 500px;
    object-fit: contain;
}

.header_image_mobile{
    width: 200px;
    object-fit: contain;
    position: absolute;
    bottom: 0px;
    left: -10px;
}