.header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea{
    color: white;
    width: 800px;
    height: 600px;
    border: none;
    background-color: transparent;
    pointer-events: none;
    resize: none;
}

.textarea:focus{
    outline: none;
}