.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

.header{
    width: fit-content;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    z-index: var(--first-layer);
}

.header_content{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header_intro{
    color: var(--preset-text-color-keyword);
    font-family: var(--preset-text-1-fontfamily);
    font-size: var(--preset-text-1-fontsize);
    font-weight: var(--preset-text-1-fontweight);
    line-height: var(--preset-text-1-lineheight);
    letter-spacing: var(--preset-text-1-letterspacing);
    margin: 0px;
}

.header_desc_one{
    color: var(--preset-text-color-variable);
    margin: -10px 0px 0px 0px;
    font-family: var(--preset-text-2-fontfamily);
    font-size: var(--preset-text-2-fontsize);
    font-weight: var(--preset-text-2-fontweight);
    line-height: var(--preset-text-2-lineheight);
    letter-spacing: var(--preset-text-2-letterspacing);
}

.header_desc_two{
    width: 300px;
    color: var(--preset-text-color-string);
    font-family: var(--preset-text-3-fontfamily);
    font-size: var(--preset-text-3-fontsize);
    font-weight: var(--preset-text-3-fontweight);
    line-height: var(--preset-text-3-lineheight);
    letter-spacing: var(--preset-text-3-letterspacing);
    margin: 0px;
}

.header_images{
    width: 500px;
    position: relative;
}

.header_image_laptop{
    width: 100%;
    object-fit: contain;
}

.header_image_mobile{
    width: 200px;
    object-fit: contain;
    position: absolute;
    bottom: 0px;
    left: -10px;
}

.header_start{
    width: 200px;
    height: 60px;
    border-radius: 15px;
    color: white;
    font-family: var(--preset-text-3-fontfamily);
    font-size: var(--preset-text-3-fontsize);
    font-weight: var(--preset-text-3-fontweight);
    line-height: var(--preset-text-3-lineheight);
    letter-spacing: var(--preset-text-3-letterspacing);
    border: none;
    background-color: var(--preset-text-color-keyword);
    cursor: pointer;
}

.header_start:hover{
    background-color: var(--preset-text-color-keyword-hover);
}

.header_start:active{
    background-color: var(--preset-text-color-keyword-active);
}

@media(max-width: 1030px){
    .header{
        width: 90%;
    }

    .header_intro{
        font-size: 2.5rem;
    }

    .header_desc_one{
        font-size: 1.5rem;
    }

    .header_image_mobile{
        width: 40%;
    }
}

@media(max-width: 730px){
    .header{
        flex-direction: column;
    }

    .header_intro, .header_desc_one, .header_desc_two{
        text-align: center;
    }

    .header_desc_two{
        width: 100%;
    }

    .header_images{
        width: initial;
        height: 400px;
    }

    .header_image_laptop{
        width: initial;
        height: 100%
    }

    .header_start{
        align-self: center;
    }
}

@media(max-width: 540px){
    .header_image_laptop{
        display: none;
    }

    .header_image_mobile{
        width: 300px;
        position: static;
    }
}