.add_file{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
}

.add_file:hover:after{
    width: 110px;
    padding: 3px;
    border-radius: 5px;
    content: 'Create new file';
    position: absolute;
    top: -10px;
    left: 60%;
    color: white;
    font-family: var(--preset-text-5-fontfamily);
    font-size: var(--preset-text-5-fontsize);
    font-weight: var(--preset-text-5-fontweight);
    line-height: var(--preset-text-5-lineheight);
    letter-spacing: var(--preset-text-5-letterspacing);
}

.add_file.dark:hover:after{
    background-color: rgb(78, 78, 78);
}

.add_file.light:after{
    background-color:rgb(124, 123, 123);
}




.add_file.dark:hover{
    background-color: #393939;
}

.add_file.dark:active{
    background-color: #4e4e4e;
}  



.add_file.light:hover{
    background-color: #eaeaea;
}

.add_file.light:active{
    background-color: #ffffff;
} 



.add_file > img{
    width: 40px;
    object-fit: contain;
}