.container{
    width: 60px;
    height: 30px;
    padding: 0px 10px;
    border-radius: 15px;
    background-color: var(--preset-text-color-operator);
    align-self: center;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dot{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--preset-text-color-operator-hover);
}


.container.light:hover{
   background-color: #878787;
}

.container.light:active{
    background-color: #4e4e4e;
}

.container:hover > .dot.light{
    background-color: var(--preset-text-color-operator);
}

.container:active > .dot.light{
    background-color: var(--preset-text-color-operator-active);
} 





.container.dark:hover{
    background-color: #c2c2c2;
}

.container.dark:active{
    background-color: #ffffff;
}

.container:hover > .dot.dark{
    background-color: #515151;
}

.container:active > .dot.dark{
    background-color: #383838;
}