
.files_commands_add_folder{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.files_commands_add_folder > img{
    width: 40px;
    object-fit: contain;
}

.files_commands_add_folder:hover{
    background-color: #393939;
}

.files_commands_add_folder:active{
    background-color: #4e4e4e;
}   
