.highlight_syntax{
    position: absolute;
    padding: 25px 25px 25px 45px;
    top: 0px;
    left: 0px;
    white-space: pre-wrap;
    width: 100%;
    height: 100%;
    color: var(--preset-text-color-operator);
    font-family: var(--preset-text-3-fontfamily);
    font-size: var(--preset-text-3-fontsize);
    font-weight: var(--preset-text-3-fontweight);
    line-height: var(--preset-text-3-lineheight);
    letter-spacing: var(--preset-text-3-letterspacing);
    z-index: var(--fourth-layer);
    pointer-events: none;
}

.keyword{
    color: blue;
}