.editor{
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
}

.textarea{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 25px;
    color: transparent;
    caret-color: var(--preset-text-color-operator);
    font-family: var(--preset-text-3-fontfamily);
    font-size: var(--preset-text-3-fontsize);
    font-weight: var(--preset-text-3-fontweight);
    line-height: var(--preset-text-3-lineheight);
    letter-spacing: var(--preset-text-3-letterspacing);
    resize: none;
}

.textarea:focus{
    outline: none;
}

.highlight_layer{
    position: absolute;
    top: 0px;
    left: 0px;
    white-space: pre-wrap;
    width: 100%;
    height: 100%;
    font-family: var(--preset-text-3-fontfamily);
    font-size: var(--preset-text-3-fontsize);
    font-weight: var(--preset-text-3-fontweight);
    line-height: var(--preset-text-3-lineheight);
    letter-spacing: var(--preset-text-3-letterspacing);
    z-index: var(--last-layer);
}

.keyword{
    color: blue;
}