.files{
    width: 300px;
    height: 100%;
    padding: 15px;
    background-color: var(--preset-background-color-container);
    display: flex;
    flex-direction: column;
}

.files_commands{
    display: flex;
}

.folders{
    height: 100%;
    padding-left: 15px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}