.files{
    width: 300px;
    height: 100%;
    padding: 15px 0px 15px 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.files.dark{
    background-color: var(--preset-background-color-container-dark);
}

.files.light{
    background-color: var(--preset-background-color-container-light);
}

.files_commands{
    display: flex;
}

.folders{
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
}

.folders.dark{
    background-color: var(--preset-background-color-folders-dark);
}

.folders.light{
    background-color: var(--preset-background-color-folders-light);
}

@media(max-width: 530px){
    .files{
        width: 100%;
        padding: 15px 15px 0px 15px;
    }
}