@font-face {
    font-family: 'SnPro';
    src: url('/public/fonts/SNPro-VariableFont_wght.ttf');
}

@font-face{
    font-family: 'RobotoMono';
    src: url('/public/fonts/RobotoMono-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    transition: 0.2s linear;
}

body, html{
    margin: 0px;
    background-color: var(--preset-background-color-body);
    background-image: url('./Common/images/background.png');
    background-size: contain;
}

*{
    --first-layer: 100;
    --second-layer: 75;
    --third-layer: 50;
    --fourth-layer: 25;
    --fifth-layer: 5;
    --last-layer: -1;
    
    --preset-background-color-body: #1F1F1F;
    --preset-background-color-container: rgb(19, 19, 19);

    --preset-text-color-keyword: #328dd7;
    --preset-text-color-keyword-hover: #1982d8;
    --preset-text-color-keyword-active: #0366b6;

    --preset-text-color-variable: #9CDCFE;
    --preset-text-color-variable-hover: #6acbff;
    --preset-text-color-variable-active: #49bffe;

    --preset-text-color-operator: #D4D4D4;
    --preset-text-color-operator-hover: #9d9d9d;
    --preset-text-color-operator-active: #797979;

    --preset-text-color-string: #CE9178;
    --preset-text-color-string-hover: #d17c5a;
    --preset-text-color-string-active: #d2663c;

    --preset-text-color-comments: #6A9955;
    --preset-text-color-comments-hover: #5ba439;
    --preset-text-color-comments-active: #51ab28;

    --preset-text-color: rgb(255, 255, 255);
    --preset-text-color-hover: rgb(130, 130, 130);
    --preset-text-color-active: rgb(79, 79, 79);

    --preset-text-1-fontfamily: 'SnPro';
    --preset-text-1-fontsize: 3rem;
    --preset-text-1-fontweight: 800;
    --preset-text-1-lineheight: 120%;
    --preset-text-1-letterspacing: 0px;

    --preset-text-2-fontfamily: 'SnPro';
    --preset-text-2-fontsize: 2rem;
    --preset-text-2-fontweight: 800;
    --preset-text-2-lineheight: 110%;
    --preset-text-2-letterspacing: 0px;

    --preset-text-3-fontfamily: 'SnPro';
    --preset-text-3-fontsize: 1.5rem;
    --preset-text-3-fontweight: 500;
    --preset-text-3-lineheight: 120%;
    --preset-text-3-letterspacing: 0px;

    --preset-text-4-fontfamily: 'SnPro';
    --preset-text-4-fontsize: 1.3rem;
    --preset-text-4-fontweight: 500;
    --preset-text-4-lineheight: 140%;
    --preset-text-4-letterspacing: 0px;  
}