.folder{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--preset-text-color-operator);
    font-family: var(--preset-text-3-fontfamily);
    font-size: var(--preset-text-3-fontsize);
    font-weight: var(--preset-text-3-fontweight);
    line-height: var(--preset-text-3-lineheight);
    letter-spacing: var(--preset-text-3-letterspacing);
    cursor: pointer;
}

.folder_header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.folder_content{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all 0s;
}


.arrow{
    width: 30px;
    object-fit: contain;
    align-self: start;
}

.fake_content{
    height: 200px;
}