.folder{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--preset-text-color-operator);
    font-family: var(--preset-text-3-fontfamily);
    font-size: var(--preset-text-3-fontsize);
    font-weight: var(--preset-text-3-fontweight);
    line-height: var(--preset-text-3-lineheight);
    letter-spacing: var(--preset-text-3-letterspacing);
    cursor: pointer;
}

.folder_header{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.folder_header.dark:hover{
    background-color: #57575733;
}

.folder_header.light:hover{
    background-color: #c2c2c233;
}


.folder_content{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all 0s;
}

.add_content{
    padding-left: 15px;
}

.arrow{
    width: 30px;
    object-fit: contain;
    align-self: start;
}

.fake_content{
    color: #ffffff33;
    height: 200px;
}

.folder_menu{
    width: 200px;
    height: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: var(--fifth-layer);
    transition: none;
    list-style-type: none;
    margin: 0px;
    padding: 15px;
}

.folder_menu.dark{
    background-color: var(--preset-background-color-context-menu-dark);
}

.folder_menu.light{
    background-color: var(--preset-background-color-context-menu-light)
}

.folder_menu_button{
    background-color: transparent;
    border: none;
    font-size: var(--preset-text-3-fontsize);
    font-family: var(--preset-text-3-fontfamily);
    font-weight: var(--preset-text-3-fontweight);
    line-height: var(--preset-text-3-lineheight);
    letter-spacing: var(--preset-text-3-letterspacing);
    color: var(--preset-text-color-operator);   
}
